* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(25, 25, 25);
    margin: 50px;
}

#version {
    border: 2px solid rgb(10, 80, 10);
    padding: 3px;
    position: fixed;
    left: 0;
    top: 0;
}

#top-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}

#top-particle-line, #pps-line {
    font-size: 13px;
}

#top-particle {
    font-size: 30px;
    color: rgb(10, 80, 10);
    margin: auto 3px;
}

#sel-bar {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 50px auto; 
}

.tab-btn {
    width: 100px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border-color: rgb(10, 80, 10);
}

.tab {
    margin: auto;
}

#opt-container {
    margin: auto;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.opt-btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-color: rgb(10, 80, 10);
}